elasticsearch-dsl>=6.0.0
elasticsearch>=6.3.0
tqdm
nltk
spacy>=2.3.2
pytorch_pretrained_bert
matplotlib
pyspotlight
validators>=0.15.0
SPARQLWrapper>=1.8.5
xmltodict
sklearn
tensorflow-gpu
memory_profiler
bert-serving-server
bert-serving-client
numpy
torch